.classpath
.project
.directory
.svn
.settings
.metadata
target
build.sh~
.gitignore~
.gradle
bin
build
.DS_Store
.gradletasknamecache
.groovy
gradle-app.setting

uploaded
*.log
*.class
*.war
*.ear
vf.gf.dmn*

out
.idea
*.iml